@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SpoqaHanSansNeo';
  src: url(https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
}

body {
  font-family: 'SpoqaHanSansNeo';
}

@layer components {
  .modal-overlay {
    @apply fixed top-0 left-0 w-full h-full bg-[#00000050] z-modalbackground;
  }

  .modal-container {
    @apply fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-modalbody;
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
