@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SpoqaHanSansNeo';
  src: url(https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
}

body {
  font-family: 'SpoqaHanSansNeo';
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* filter scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* filter scrollbar */
